*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: #CCCCCC;
    color: #ffffff;
}

button{
    background-color:#1D0C20 ;
    color: #ffffff;
    border-radius: 0.25rem;
    padding: 0.5rem;
    width: 64%;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    
}

button:hover{
    background-color: #541A5D;
    transition: 0.5s ease-in-out;
    
}

input:focus{
    outline: none;
   
}

.header{
  margin: 0.5rem;
  text-align: center;
  
}


.header h1{
    padding-top: 1rem;
    color: #FECD23;
    font-weight: 600;
}

.mid h2{
    font-weight: 400;
}
.mid{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-left: 5%;
   margin-right: 5%;
   border-radius: 0.5rem;
}
.container{
    border-radius: 0.5rem;
    width: 800px;
    margin: auto;
    background-image: linear-gradient(#210D24,#541A5D);
    
}

.mid{
    background-image: linear-gradient(#541A5D,#210D24);
}

.firstrow{
    display: flex;
    flex-direction: column;
    
}

.firstrow input{
    border-radius: 0.25rem;
    border: none;
    margin:0.5rem;
    width: 80%;
    align-self: center;
    height: 32px;
    line-height: normal;
    font-size: 1rem;
    font-weight: 400;
    
}

.secondrow{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 1rem;
    
}

.card-button{
    background-image: linear-gradient(#2638DB,#342989);
    border-radius: 0.5rem;
    
}

.inside-cardButton{
    padding: 0.5rem;
    font-weight: 400;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#3E60EF,#72CBFE);
    margin: 10px;
    text-align: center;
}
.footer{
    text-align: center;
}

@media screen and (max-width:825px) {

    html{
        font-size: 14px;
    }

    button{
        width: 56%;
        padding: 1rem;
        border-radius: 0.5rem;
        border: none;
        font-size: 1.5rem;
    }
    .container{
        width: 96%;
    }

    .firstrow{
        text-align: center;
    }
    .secondrow{
        display: flex;
        flex-direction: column;
    }

    .card-button{
      margin: 1rem;
    }
}
